<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.thedarken.diagnosis"
    android:versionCode="24"
    android:versionName="0.7.6" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <supports-screens android:anyDensity="true" />


    <application
        android:name="Diagnosis"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.ForceOverflow" >
        <activity
            android:name=".DGmain"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DGsettings"
            android:configChanges="orientation"
            android:label="Settings"/>
        <service
            android:name="eu.thedarken.diagnosis.DGoverlay"
            android:configChanges="orientation"/>

        <activity
            android:name=".DGlinebuilder"
            android:configChanges="orientation"
            android:label="Linebuilder"/>

        <receiver
            android:name=".DGautostart"
            android:enabled="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>